[user]
	name = Jerry Augusto
	email = 47633560+jerryaugusto@users.noreply.github.com
	signingKey = 0E9034467A951DA8
[core]
	editor = nvim
	excludesFile = /home/araujo/.gitignore_global
[commit]
	gpgSign = true
[tag]
	gpgSign = true
[init]
	defaultBranch = main
; [color]
; 	ui = "#7321e8"
